._650eb104245d257b-tutorialContainer + ._650eb104245d257b-listItem {display: none;}

/*-- for backwards compatibility since people still use the old one ---*/
/*-- TODO: Remove this once its for sure no one is on the OLD-UI ---*/
[class*=unreadMentionsFixedFooter_]{bottom: 0px !important;}
.footer__214dc, [class*=discoveryIcon_] {display: none; }
